.dashboard-header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    justify-content: center;
}

.search-text-style {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.search-text-container {
    margin-right: 1rem;
}

.dashboard-header {
    font-size: 1.6rem;
    margin-left: 0.5rem;
}

.graph-name-container{
    margin-left: 12px;
}

.list-action-container {
    display: flex;
    justify-content: flex-end;
}


