.classpath
.coverage
.nyc_output
.project
.serverless
.settings/
.vscode
.metadata

target
build
.git

coverage
jspm_packages
node_modules
package-lock.json
yarn.lock
dist

*.zip
*.DS_Store
/.metadata/
